@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

body {
    background-color: #f5f5f5 !important;
    font-family: 'Gelasio', serif !important; 
}

#image {
    text-align: center;
}

#options {
    display: inline-block;
    vertical-align: middle;
}

#buttons {
    text-align: center;
}

.correct {
    background-color: rgba(0, 255, 0, 0.7);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.7);
}

#line {
    margin: 10px;
    width: 2px;
    height: 22px;
    background: rgba(99, 99, 99, 1);
    border: none;
    display: inline-block;
    vertical-align: middle;
}

select {
    width: 85%;
    text-align-last: center;
    float: right;
}
span {
    text-align: center;
    font-weight: bold;
}

