body {
    background-color: #f5f5f5;
}

#image {
    text-align: center;
}

#options {
    display: inline-block;
    vertical-align: middle;
}

#buttons {
    text-align: center;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

#line {
    margin: 10px;
    width: 2px;
    height: 22px;
    background: rgb(19, 195, 98);
    border: none;
    display: inline-block;
    vertical-align: middle;
}